.video-js {
  .vjs-replay-control {
    cursor: pointer;

    .vjs-icon-placeholder {
      font-family: VideoJS;
      font-style: normal;
      font-weight: normal;
    }

    .vjs-icon-placeholder::before {
      content: '\f116';
    }
  }

  .vjs-play-control.vjs-ended {
    display: none;
  }
}
